<html>

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="./css/matching.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=B612:700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">

        <div class="table">

            <div class="row header">
                <div class="cell">
                    #
                </div>
                <div class="cell">
                    NAME
                </div>
                <div class="cell">
                    PHONE
                </div>
                <div class="cell">
                    ADDRESS
                </div>
                <div class="cell">
                    ORDER
                </div>
            </div>

            <% matches.forEach((match, index)=>{%>
            <div class="row">
                <div class="cell" data-title="Name">
                    Joseph Smith
                </div>
                <div class="cell" data-title="Age">
                    27
                </div>
                <div class="cell" data-title="Occupation">
                    Project Manager
                </div>
                <div class="cell" data-title="Location">
                    Somerville, MA
                </div>
            </div>
            <% }) ;%>

        </div>

    </div>

    </div>
</body>

</html>